@import './libs';

body {
  margin: auto;

  font-family: 'Inter', sans-serif;

  background: url('../assets/decor/bg.png') no-repeat center;
  background-size: cover;
}
.wrapper {
  box-sizing: border-box;
  max-width: 1306px;
  margin: auto;
  min-height: 100vh;
}
