@import './libs';

$white: #fff;
$white-transparent: #ffffff80;
$strong-red: #bc4749;
$weak-red: #d66567;
$shadow: #00000026;
$light-green: #6a994e;
$dark-green: #1d252b;
$gray: #d0d0d0;

@mixin title {
  font-weight: 600;
  margin: 0;
}

@function func-darken($mycolor) {
  @return darken($color: $mycolor, $amount: 10%);
}

* {
  box-sizing: border-box;
  transition: 0.3s;
}

body {
  margin: auto;

  color: $white;
  font-family: 'Inter', sans-serif;

  background: url('../assets/decor/bg1.png') no-repeat 50% -6%, linear-gradient(#36603e 35.82%, #1e262c 100%) no-repeat,
    linear-gradient(to right, #294234, #22312f);
  background-size: cover;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  color: $white-transparent;

  &:visited {
    color: $white-transparent;
  }

  &:focus {
    font-weight: 500;
  }

  &:hover {
    color: $white;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  color: $white;
  font-weight: 500;
  font-size: 12px;

  background-color: transparent;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

.navigation-mobile {
  display: none;
}

.wrapper {
  max-width: 1306px;

  margin: auto;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  max-width: 1195px;
  margin: 0px 32px 45px 56px;
  padding-top: 35px;
  min-height: 39px;

  font-size: 12px;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 87px;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 50px;
  align-items: center;

  &-link {
    &_active {
      font-size: 12.091px;
      font-weight: 600;
      color: $white;
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  font-size: 11px;

  color: $white;
  text-decoration: line-through;
  font-weight: 700;

  &:hover {
    transform: scale(1.1);
  }

  & svg {
    margin-right: 5px;
  }
}

.signing {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  &-btn {
    @include title;
    color: $white-transparent;
    &:hover {
      color: $white;
    }

    &_active {
      width: 114px;
      height: 39px;

      background-color: $strong-red;
      border: $weak-red solid 1px;
      border-radius: 7px;

      &:hover {
        background-color: func-darken($strong-red);
      }
    }
  }
}

.main {
  position: relative;
  padding-bottom: 38px;
  height: auto;
}

.main-title {
  @include title;
  font-size: 41px;
  text-align: center;
  margin-bottom: 32px;
  margin-left: 13px;
}

.offer-title,
.features-title {
  @include title;
  font-size: 16px;
  font-weight: 600;
}

.offer {
  display: grid;
  grid-template-columns: repeat(3, 334px);
  grid-template-rows: 632px;

  max-width: 969px;
  height: 632px;
  margin: 0 147px 0 191px;

  &-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 38px 0 28px;
    margin-top: 40px;

    grid-area: 1 / 1 / 2 / 2;
    width: 334px;
    min-height: 592px;

    background-color: $light-green;
    border-radius: 11px;
    box-shadow: 0px 4px 95px 0px $shadow;
    transform: scale(0);
    transform-origin: top center;
    transition: transform 0.5s;

    &:nth-child(2) {
      margin-left: 315px;
    }

    &:nth-child(3) {
      margin-left: 635px;
    }
  }

  &-header {
    padding: 0 60px 10px;

    border-bottom: solid 1px #ffffff1a;
  }

  &-title {
    margin-bottom: 18px;
  }

  &-currency {
    font-size: 11px;
    font-weight: 500;

    cursor: pointer;

    &:hover {
      color: $strong-red;
    }
  }

  &-period {
    align-self: flex-end;

    font-size: 12px;
    font-weight: 400;
    color: #ffffffb3;

    cursor: pointer;

    &:hover {
      color: $strong-red;
    }
  }

  &-btn {
    align-self: center;

    width: 214px;
    padding: 12px 22px;

    border-radius: 7px;
    border: 0.864px solid $gray;

    &:hover {
      background-color: func-darken($light-green);
    }
  }

  &-text {
    margin-top: 18px;

    color: #ffffffcc;
    font-size: 12px;
    font-weight: 400;
    line-height: 140%;
  }

  &-item.active {
    z-index: 1;

    margin-top: 0;
    height: 600px;
    padding-bottom: 34px;
    padding-top: 48px;

    background-color: $dark-green;
  }

  &-features {
    padding: 23px 60px 10px;
  }
}

.offer-item.active .offer-header {
  border-bottom: none;
}

.offer-item.active .offer-btn {
  justify-content: center;
  column-gap: 10px;

  background-color: $strong-red;
  border: 0.864px solid $weak-red;

  &:hover {
    background-color: func-darken($strong-red);
  }

  &::after {
    content: url('../assets/icons/arrow.png');

    width: 16px;
    height: 16px;

    border-radius: 50%;
    background-color: #ffffff99;
  }
}

.price {
  display: flex;

  height: 38px;
  padding-bottom: 15px;

  border-bottom: solid 1px #ffffff1a;
  box-sizing: content-box;

  & span:nth-child(2) {
    margin-right: 6px;

    font-size: 38px;
    font-weight: 800;
  }
}

.features {
  display: flex;
  flex-direction: column;
  row-gap: 17px;

  margin-left: 18px;

  font-size: 13px;
  font-weight: 400;

  list-style-image: url('../assets/decor/list-marker.png');

  &-title {
    margin-bottom: 10px;
  }

  &-subtitle {
    margin: 0 0 27px;
  }

  &-item {
    &_default {
      color: #ffffffcc;
    }

    &_additional {
      font-weight: 500;
    }
  }
}

.loader-box {
  position: absolute;
  top: 150px;
  left: calc(50% - 25px);

  width: 50px;
  height: 50px;

  transition: 0.3s color, 0.3s border, 0.3s transform, 0.3s opacity;
}

.loader {
  height: 100%;
  border: 0.2em solid currentcolor;
  border-radius: 50%;
  animation: loader 1s ease-out infinite;
}

@keyframes loader {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
