@import './libs';

$white: #fff;
$white-transparent: #ffffff80;
$strong-red: #bc4749;
$weak-red: #d66567;
$shadow: #00000026;
$light-green: #6a994e;
$dark-green: #1d252b;
$gray: #d0d0d0;

@mixin title {
  font-weight: 600;
  margin: 0;
}

@function func-darken($mycolor) {
  @return darken($color: $mycolor, $amount: 10%);
}

* {
  transition: 0.3s;
}

body {
  margin: auto;

  color: $white;
  font-family: 'Inter', sans-serif;

  background: url('../assets/decor/bg1.png') no-repeat;
  background-size: 100%;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  color: $white-transparent;

  &:visited {
    color: $white-transparent;
  }

  &:focus {
    font-weight: 500;
  }

  &:hover {
    color: $white;
  }
}

.btn {
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;

  color: $white;
  font-weight: 500;
  font-size: 12px;

  background-color: transparent;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

.wrapper {
  box-sizing: border-box;
  max-width: 1306px;

  margin: 35px auto 38px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  max-width: 1195px;
  margin: 0px 32px 45px 56px;
  min-height: 39px;

  font-size: 12px;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 87px;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 50px;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 11px;

  color: $white;
  text-decoration: line-through;
  font-weight: 700;

  &:hover {
    transform: scale(1.1);
  }

  & svg {
    margin-right: 5px;
  }
}

.signing {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  &-btn {
    @include title;
    color: $white-transparent;
    &:hover {
      color: $white;
    }

    &_active {
      width: 114px;
      height: 39px;

      background-color: $strong-red;
      border: $weak-red solid 1px;
      border-radius: 7px;

      &:hover {
        background-color: func-darken($strong-red);
      }
    }
  }
}

.main-title {
  @include title;
  font-size: 41px;
  text-align: center;
  margin-bottom: 32px;
  margin-left: 13px;
}

.offer-title,
.features-title {
  @include title;
  font-size: 16px;
  font-weight: 600;
}

.offer {
  position: relative;
  display: flex;
  justify-content: space-between;

  max-width: 969px;
  height: 632px;
  margin: 0 147px 0 191px;

  &-item {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-end;

    width: 334px;
    min-height: 592px;
    padding: 38px 0 28px;

    background-color: $light-green;
    border-radius: 11px;
    box-shadow: 0px 3.785px 94.621px 0px $shadow;
  }

  &-header {
    padding: 0 60px 10px;

    border-bottom: solid 1px #ffffff1a;
  }

  &-title {
    margin-bottom: 18px;
  }

  &-btn {
    align-self: center;

    width: 214px;
    padding: 12px 22px;

    border-radius: 7px;
    border: 0.864px solid $gray;

    &:hover {
      background-color: func-darken($light-green);
    }
  }

  &-text {
    margin-top: 18px;

    color: #ffffffcc;
    font-size: 12px;
    font-weight: 400;
    line-height: 140%;
  }

  &-item.active {
    position: absolute;
    z-index: 1;
    left: calc(50% - 167px);

    align-self: flex-start;

    height: 600px;
    padding-bottom: 34px;
    padding-top: 48px;

    background-color: $dark-green;
  }

  &-features {
    padding: 23px 60px 10px;
  }
}

.offer-item.active .offer-header {
  border-bottom: none;
}

.offer-item.active .offer-btn {
  justify-content: center;
  column-gap: 10px;

  background-color: $strong-red;
  border: 0.864px solid $weak-red;

  &:hover {
    background-color: func-darken($strong-red);
  }

  &::after {
    content: url('../assets/icons/arrow.png');

    width: 16px;
    height: 16px;

    border-radius: 50%;
    background-color: #ffffff99;
  }
}

.price {
  display: flex;

  height: 38px;
  padding-bottom: 15px;

  border-bottom: solid 1px #ffffff1a;

  & span:first-child {
    font-size: 11px;
    font-weight: 500;
  }

  & span:nth-child(2) {
    margin-right: 6px;

    font-size: 38px;
    font-weight: 800;
  }

  & span:last-child {
    align-self: flex-end;

    font-size: 12px;
    font-weight: 400;
    color: #ffffffb3;
  }
}

.features {
  display: flex;
  flex-direction: column;
  row-gap: 17px;

  margin-left: 18px;

  font-size: 13px;
  font-weight: 400;

  list-style-image: url('../assets/decor/list-marker.png');

  &-title {
    margin-bottom: 10px;
  }

  &-subtitle {
    margin: 0 0 27px;
  }

  &-item {
    &_default {
      color: #ffffffcc;
    }

    &_additional {
      font-weight: 500;
    }
  }
}
